/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster&display=swap');

body {
    background-color:white;
    font-family: "Lobster", sans-serif;
    color: #262223;
    text-align: center;
}

.heading {
    text-align: center;
    font-size: 2rem;
}

/* Game Layout */

.game-area {
    background-color: #CFDFFF;
    box-sizing: border-box;
    width: 90%;
    min-height: 60vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4%;
}

.control {
    font-family: "Lobster", sans-serif;
    text-transform: capitalize;
    letter-spacing: 1px;
    border: 2px solid #A3ACBD;
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: #262223; 
    width: 25%;
    height: 30%;
    background-color: white;
    padding: 10px 0 10px 0;
}

.fa-hand-rock {
    background-color: #f2d649;
    border-radius: 100%;
    padding: 5px;
}

.fa-hand-paper {
    background-color: #04d9c4;
    border-radius: 100%;
    padding: 5px;
}

.fa-hand-scissors {
    background-color: #ecbbf2;
    border-radius: 100%;
    padding: 5px;
}

#rock {
    box-shadow: 3px 3px #f2d649;
    border-radius: 3px;
    cursor: pointer;
}

#paper {
    box-shadow: 3px 3px #04d9c4;
    border-radius: 3px;
    cursor: pointer;
}

#scissors {
    box-shadow: 3px 3px #ecbbf2;
    border-radius: 3px;
    cursor: pointer;
}

#messages {
    font-size: 1rem;
}

#messages h2, p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.player {
    background-color: white;
    padding-top: 1rem;
    width: 50%;
    float: left;
    font-size: 1rem;
}

.computer {
    background-color: white;
    padding-top: 1rem;
    width: 50%;
    float: right;
    font-size: 1rem;
}

.player p, .computer p, .timer-container p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#user-choice, #computer-choice {
    text-transform: capitalize;
}

img {
    width: 80%;
    height: 80%;
}

hr {
    border: 2px solid white;
}

/* timer area */
.timer-container {
    float: none;
    align-items: center;
}

.timer-container h4{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#timer {
    margin-bottom: 25px;
    font-size: 1rem;
    font-weight: bold;
    color: #262223;
}

.timer-button {
    margin: 1rem;
    background-color: #04d9c4;
    font-family: 'Lobster';
    font-size: 1rem;
    color: #262223;
    width: 200px;
    height: 50px;
    cursor: pointer;
    box-shadow: 3px 3px #A3ACBD, 2px 2px #A3ACBD, 1px 1px #A3ACBD;
    padding: 10px;
}

.instructions {
    float: none;
}

/* the modal button */
#open {
    margin: 1rem;
    background-color: #04d9c4;
    font-family: 'Lobster';
    font-size: 1rem;
    width: 200px;
    height: 50px;
    color: #262223;
    cursor: pointer;
    box-shadow: 3px 3px #A3ACBD, 2px 2px #A3ACBD, 1px 1px #A3ACBD;
    padding: 10px;
}

/* the modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* Modal Header */
.modal-header {
    background-color: #04d9c4;
    margin: auto;
    padding: 20px;
    border: 1px solid #262223;
    width: 80%;
  }

  .modal-header h3 {
      margin: 0;
  }

  /* The Close Button */
  .close {
    color: #404040;
    float: right;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1rem;

  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/* Modal Content */
.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

.modal-content h4 {
    margin: 0;
}

.modal-content p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

/* media queries */

/* For small to medium screen sizes from 550px wide and up */
@media screen  and (min-width: 550px) {

    .heading {
        font-size: 3rem;
    }
    
    .control, #messages, .player, .computer, #timer, .timer-container, .timer-button, #open {
        font-size: 1.2rem;
    }
}

/* For medium to large screen sizes from 850px wide and up */
@media screen  and (min-width: 850px) {
    
    .control, #messages, .player, .computer, #timer, .timer-container, .timer-button, #open {
        font-size: 1.5rem;
    }
}

/* For larger to extra large screens size from 1200px wide and up */
@media screen and (min-width: 1200px) {

    .control, #messages, .player, .computer, #timer, .timer-container, .timer-button, #open {
        font-size: 2rem;
    }

    #open, .modal, .modal-content p{
        font-size: 2rem;
    }
