/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster&display=swap');

body {
    background-color:white;
    font-family: "Lobster", sans-serif;
    color: #454545;
    text-align: center;
}

.heading {
    text-align: center;
    font-size: 2.5rem;
}

/* Game Layout */

.game-area {
    background-color: #CFDFFF;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 550px;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding: 4%;
}

button {
    font-family: "Lobster", sans-serif;
    text-transform: capitalize;
    letter-spacing: 1px;
    border: none;
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: #454545; 
    width: 25%;
    height: 30%;
    background-color: white;
}

/*
button::after {
    content: attr(data-type);
    font-size: 0.6rem;
    position: relative;
    display: block;
}
*/

.fa-hand-rock {
    background-color: #f2d649;
}

.fa-hand-paper {
    background-color: #04d9c4;
}

.fa-hand-scissors {
    background-color: #ecbbf2;
}

#messages {
    font-size: 1rem;
}

.player {
    background-color: white;
    padding-top: 1rem;
    width: 50%;
    float: left;
    font-size: 1rem;
}

.computer {
    background-color: white;
    padding-top: 1rem;
    width: 50%;
    float: right;
    font-size: 1rem;
}

img {
    width: 80%;
    height: 80%;
}

.instructions {

}

